.container-about{
    p {
        text-align: center;
    }
}

.image-about{
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 22em;
    margin: 1rem 0;
}

.section{
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 3em;
    margin-bottom: 1rem;
}
