@media only screen and (min-width: 780px){
    .index-en{
        background-image: url('/assets/img/3.png') !important;
    }
    .index-kr{
        background-image: url('/assets/img/long.png') !important;
    }
    .schedule-image-kr{
        background-image:url('/assets/img/schedule_long/2.png') !important;
    }
    .schedule-image-en{
        background-image:url('/assets/img/schedule_long/1.png') !important;
    }

}
@media only screen and (max-width: 376px){
    .container-schedule{
      padding:0 !important;
      display: flex !important;
      justify-content: center !important;
      align-items: center !important;
    }

    .schedule-image{
        background-size: cover !important;
        width: 100%;
        height: 46vh !important;
    }
}

@media only screen and (min-width: 376px)and (max-width: 600px){

  .container-schedule{
    padding:0 !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }

  .schedule-image{
    background-size: cover !important;
    height: 57vh !important;
    width: 100%;
    // background-position: 40% 46% !important;
  }
}

.index-image{
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  height: 100%;
  background-position: center;
}

.background{
  background-image: url("/assets/invitation/square.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar-toggler{
  border: none !important;
}

.schedule-image{
  background-repeat: no-repeat;
  background-size: contain;
  height: 94vh;
  background-position: center;
}

.container-index{
    height:100vh;
    display: flex;
    width:100%;
    font-size: 1.2em;
    p{
        margin:auto !important;
        text-align: center;
    }
    a{
        color:black;
        &:hover{
            text-decoration: none;
        }
        padding:10px;
    }
    a:first-of-type{
        margin-right:10px;
    }

}
